<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cricket.scorer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activities.CricketApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CricketScorer">

        <activity android:name=".activities.HomeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.PlayerCountActivity"
            android:exported="false" android:label="Team Size"
            android:parentActivityName=".activities.HomeActivity"/>

        <activity android:name=".activities.SetupActivity"
            android:exported="false" android:label="Match Setup"
            android:parentActivityName=".activities.PlayerCountActivity"/>

        <activity android:name=".activities.InningsActivity"
            android:exported="false" android:label="Live Match"/>

        <activity android:name=".activities.InningsBreakActivity"
            android:exported="false" android:label="Innings Break"/>

        <activity android:name=".activities.StatsActivity"
            android:exported="false" android:label="Match Statistics"
            android:parentActivityName=".activities.HomeActivity"/>

        <!-- In-depth analytics screen -->
        <activity android:name=".activities.DeepStatsActivity"
            android:exported="false" android:label="In-Depth Statistics"
            android:parentActivityName=".activities.StatsActivity"/>

        <activity android:name=".activities.RecentMatchesActivity"
            android:exported="false" android:label="Recent Matches"
            android:parentActivityName=".activities.HomeActivity"/>

        <activity android:name=".activities.MatchSelectActivity"
            android:exported="false" android:label="Select Match"
            android:parentActivityName=".activities.HomeActivity"/>

        <!-- Tournament activities -->
        <activity android:name=".activities.TournamentSetupActivity"
            android:exported="false" android:label="Tournament Setup"
            android:parentActivityName=".activities.HomeActivity"/>
        <activity android:name=".activities.TournamentPlayersActivity"
            android:exported="false" android:label="Tournament Players"
            android:parentActivityName=".activities.TournamentSetupActivity"/>
        <activity android:name=".activities.TournamentBattingModeActivity"
            android:exported="false" android:label="Batting Mode"
            android:parentActivityName=".activities.TournamentPlayersActivity"/>
        <activity android:name=".activities.TournamentScheduleActivity"
            android:exported="false" android:label="Match Schedule"
            android:parentActivityName=".activities.TournamentBattingModeActivity"/>
        <activity android:name=".activities.TournamentDashboardActivity"
            android:exported="false" android:label="Tournament"
            android:parentActivityName=".activities.HomeActivity"/>

    </application>
</manifest>
